.data {
    background-image: linear-gradient(to right, #d6d6d663, white);
    padding-left : .5rem;
    position: relative;
}

.data:hover {
    background-image: linear-gradient(to right, #b9b9b97e, white);
}